@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h2>
    @Session["se"]
</h2>
<hr />
<h2>
    @ViewBag.view

</h2>
<hr />
<h2>
    @ViewData["data"]

</h2>
<hr />
<h2>
    @TempData["temp"]

</h2>
<hr />